.explore {
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 100px;
    background-color: #1e1e1e;
    -ms-overflow-style: none;
    scrollbar-width: none;

    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 5px;
        background-color: #111111;

        input {
            width: 80%;
            padding: 10px;
            color: white;
            border: none;
            background: transparent;

            &:focus {
                outline: none;
            }
        }

        .icon {
            font-size: 20px;
            margin: 0 5px;
        }
    }

    .results {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .result {
            display: flex;
            align-items: center;
            padding: 30px;
            background-color: #111111;
            gap: 15px;

            img {
                width: 80px;
                border-radius: 50px;
            }

            div {
                display: flex;
                flex-direction: column;

                .name {
                    font-size: 20px;
                }

                .username {
                    font-size: 15px;
                    font-weight: 300;
                    font-style: italic;
                    opacity: .75;
                }
            }

            button {
                margin-left: auto;
                padding: 8px 16px;
                border: none;
            }

            .following {
                color: white;
                outline: 1px solid white;
                background: transparent;
            }

        }

        .noResult {
            width: 100%;
            padding: 20px;
            text-align: center;
            opacity: 50%;
            background-color: #111111;
        }
    }
}

@media (max-width: 740px) {
    .explore {
        padding: 20px;
    }

    .results {
        .result {
            align-items: center;
            flex-direction: column;

            div {
                text-align: center;

                span {
                    display: block;
                }
            }

            button {
                margin-left: 0 !important;
            }
        }
    }
}