.home {
    display: flex;
    overflow-y: scroll;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 0;
    border-radius: 5px;
    background-color: #1e1e1e;
    gap: 20px;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .card {
            width: 600px;
            height: min-content;
            border-radius: 5px;
            background-color: #111111;


            .top {
                display: flex;
                align-items: center;
                padding: 20px;
                gap: 10px;

            }

            .middle {
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            .bottom {
                display: flex;
                flex-direction: column;
                padding: 10px 10px 15px 20px;
                gap: 10px;

                .interactions {
                    display: flex;

                    span {
                        margin: 0 15px 0 5px;
                    }
                }

                .comments {
                    .comment {
                        .user {
                            font-weight: bold;
                        }

                        .text {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}