.login {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 98vh;
    background-color: #111111;

    .loginCard {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        background-color: #1e1e1e;

        .fields {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            padding: 60px 80px;

            #title {
                font-family: "Dynalight", serif;
                font-size: 80px;
                line-height: 1;
                margin-top: 0;
                margin-bottom: 30px;
                color: white;
            }

            input {
                width: 300px;
                margin: 10px 0;
                padding: 10px 15px;
                color: white;
                border: none;
                border-radius: 5px;
                background-color: #111111;

                &:focus {
                    outline: none;
                }
            }

            span {
                font-size: 14px;
                margin: 10px 0;

                .link {
                    cursor: pointer;
                    color: coral;
                }
            }

            button {
                width: 100%;
                margin: 10px 0;
                padding: 10px;
                cursor: pointer;
                color: black;
                border: none;
                border-radius: 5px;
                background-color: white;
            }
        }
    }
}

@media (max-width: 740px) {
    span {
        display: block;
    }

    .login {
        .loginCard {
            width: 100%;
            height: 100%;

            .fields {
                font-size: 14px;

                input {
                    width: 250px;
                }
            }
        }
    }
}