.settings {
    display: flex;
    overflow-y: scroll;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 100px;
    background-color: #1e1e1e;
    -ms-overflow-style: none;
    scrollbar-width: none;

    section {
        width: 100%;
        background-color: #111111;

        div {
            display: flex;
            justify-content: space-between;
            padding: 10px;
            cursor: pointer;
            border-bottom: 1px solid #444444;

            &:hover {
                background-color: rgba(128, 128, 128, 0.1);
            }
        }

        .bottom {
            border-bottom: none;
        }

        .red {
            color: rgb(255, 50, 50);
        }
    }
}

.modalBody {
    display: flex;
    flex-direction: column;
    gap: 10px;

    label {
        img {
            width: 100%;
            height: auto;
            padding: 10px;
            border: 1px solid grey;
            aspect-ratio: 1/1;
            object-fit: cover;
        }
    }

    input {
        padding: 10px;
        border: 1px solid grey;
        border-radius: 0;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }
}

@media (max-width: 740px) {
    .settings {
        justify-content: normal;
        height: 100%;
        padding: 20px;
    }
}