aside {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    padding: 10px 15px;
    background-color: #1e1e1e;

    span {
        font-family: "Dynalight", serif;
        font-size: 40px;
        transform: rotate(-90deg);
        color: white;
    }

    hr {
        width: 80%;
    }

    .link {
        padding: 15px;
        text-decoration: none;
        color: white;
        border-radius: 5px;

        &:hover {
            background-color: rgba(128, 128, 128, 0.1);
        }
    }
}

@media (max-width: 740px) {
    aside {
        flex-direction: row;
        width: 100%;
    }

    #title {
        display: none !important;
    }

    hr {
        display: none
    }
}